Día 5 - Daniel Dellepiane - 27 enero/.DS_Store
Día 5 - Daniel Dellepiane - 27 enero/contact.html
Día 5 - Daniel Dellepiane - 27 enero/contact.jpg
Día 5 - Daniel Dellepiane - 27 enero/cover-media.jpg
Día 5 - Daniel Dellepiane - 27 enero/explore.html
Día 5 - Daniel Dellepiane - 27 enero/filter.png
Día 5 - Daniel Dellepiane - 27 enero/index.html
Día 5 - Daniel Dellepiane - 27 enero/logo-media.png
Día 5 - Daniel Dellepiane - 27 enero/play.png
Día 5 - Daniel Dellepiane - 27 enero/shop.html
Día 5 - Daniel Dellepiane - 27 enero/style.css
Día 5 - Daniel Dellepiane - 27 enero/style2.css
Día 5 - Daniel Dellepiane - 27 enero/style3.css
Día 5 - Daniel Dellepiane - 27 enero/style4.css
Día 5 - Daniel Dellepiane - 27 enero/tshirt1hover.webp
Día 6 - Daniel Dellepiane - 28 enero.zip
Día 5 - Daniel Dellepiane - 27 enero/.DS_Store
Día 5 - Daniel Dellepiane - 27 enero/index.html
Día 5 - Daniel Dellepiane - 27 enero/style.css
Día 5 - Daniel Dellepiane - 27 enero/.DS_Store
Día 5 - Daniel Dellepiane - 27 enero/index.html
Día 5 - Daniel Dellepiane - 27 enero/style.css
Día 6 - Daniel Dellepiane - 28 enero/.DS_Store
Día 6 - Daniel Dellepiane - 28 enero/contact.html
Día 6 - Daniel Dellepiane - 28 enero/explore.html
Día 6 - Daniel Dellepiane - 28 enero/index.html
Día 6 - Daniel Dellepiane - 28 enero/shop.html
Día 6 - Daniel Dellepiane - 28 enero/style.css
Día 6 - Daniel Dellepiane - 28 enero/style2.css
Día 6 - Daniel Dellepiane - 28 enero/style3.css
Día 6 - Daniel Dellepiane - 28 enero/style4.css
Día 5 - Daniel Dellepiane - 27 enero/.DS_Store
Día 5 - Daniel Dellepiane - 27 enero/index.html
Día 5 - Daniel Dellepiane - 27 enero/style.css
Día 6 - Daniel Dellepiane - 28 enero/.DS_Store
Día 6 - Daniel Dellepiane - 28 enero/contact.html
Día 6 - Daniel Dellepiane - 28 enero/explore.html
Día 6 - Daniel Dellepiane - 28 enero/index.html
Día 6 - Daniel Dellepiane - 28 enero/shop.html
Día 6 - Daniel Dellepiane - 28 enero/style.css
Día 6 - Daniel Dellepiane - 28 enero/style2.css
Día 6 - Daniel Dellepiane - 28 enero/style3.css
Día 6 - Daniel Dellepiane - 28 enero/style4.css
Día 6 - Daniel Dellepiane - 28 enero/style4.css
Día 6 - Daniel Dellepiane - 28 enero/style3.css
Día 6 - Daniel Dellepiane - 28 enero/style2.css
Día 6 - Daniel Dellepiane - 28 enero/style.css
Día 6 - Daniel Dellepiane - 28 enero/shop.html
Día 6 - Daniel Dellepiane - 28 enero/index.html
Día 6 - Daniel Dellepiane - 28 enero/explore.html
Día 6 - Daniel Dellepiane - 28 enero/contact.html
Día 6 - Daniel Dellepiane - 28 enero/.DS_Store
Día 5 - Daniel Dellepiane - 27 enero/style.css
Día 5 - Daniel Dellepiane - 27 enero/index.html
Día 5 - Daniel Dellepiane - 27 enero/.DS_Store
Día 5 - Daniel Dellepiane - 27 enero/.DS_Store
Día 5 - Daniel Dellepiane - 27 enero/index.html
Día 5 - Daniel Dellepiane - 27 enero/style.css
Día 6 - Daniel Dellepiane - 28 enero/.DS_Store
Día 6 - Daniel Dellepiane - 28 enero/contact.html
Día 6 - Daniel Dellepiane - 28 enero/explore.html
Día 6 - Daniel Dellepiane - 28 enero/index.html
Día 6 - Daniel Dellepiane - 28 enero/shop.html
Día 6 - Daniel Dellepiane - 28 enero/style.css
Día 6 - Daniel Dellepiane - 28 enero/style2.css
Día 6 - Daniel Dellepiane - 28 enero/style3.css
Día 6 - Daniel Dellepiane - 28 enero/style4.css
Día 8 - Daniel Dellepiane - 30 enero/.DS_Store
Día 8 - Daniel Dellepiane - 30 enero/css/style.css
Día 8 - Daniel Dellepiane - 30 enero/css/style3.css
Día 8 - Daniel Dellepiane - 30 enero/explore.html
